.pagination {
  margin: 20px 0;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #fbbf24;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-weight: bold;
}
