@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fbb500;
  --primary-dark-color: #f59e0b;
  --body-background-color: #f9fafb;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--body-background-color);
}

body {
  --sb-track-color: #283135;
  --sb-thumb-color: #fbbf24;
  --sb-size: 4px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chivo";
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-primary {
  color: var(--primary-color);
}
